 
  .kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    margin: 0 10px;
    min-width: 300px;
}

.column-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.task {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  .header-content {
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    width: 100%;
  }