.nav-link{
    
    color: #deebff !important;
    font-weight: 400 !important;

}
.navbar-brand {
    color: #deebff !important;
    font-weight: 500 !important;

}
.my-bg {
    background-color: #0747a6 !important;
}