<nav class="navbar navbar-expand-lg my-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">voidChetan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Basic 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="UsingFormGroup">Reactive Form-FormGroup</a></li>
              <li><a class="dropdown-item" routerLink="UsingFormBuilder">Reactive Form-FormBuilder</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Template Form</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Logical 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="basic-inlineEditing">Basic-Inline-Editing</a></li>
              <li><a class="dropdown-item" routerLink="advance-inlineEditing">Advance-Inline-Editing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="Employee">Employee</a></li>
              <li><a class="dropdown-item" routerLink="candidates">Candidates</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Machine Test 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="parking-ticket">Parking-Ticket app</a></li>
              <li><a class="dropdown-item" routerLink="todo-items">ToDo-app</a></li>
              <li><a class="dropdown-item" routerLink="movie-booking">Movie-Ticket-Booking</a></li>
              <li><a class="dropdown-item" routerLink="movie-seat-booking">Movie-Seat-Booking</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="adv-todo-app">Adv-ToDo-app</a></li>
            </ul>
          </li>
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> 
          <button class="btn btn-success btn-sm" (click)="logOff()">LogOff</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="conatiner">
    <router-outlet></router-outlet>
  </div>