<div class="row">
    <div class="col-6">

    </div>
    <div class="col-2 text-end"> 
        <!-- <button class="btn btn-sm btn-primary" (click)="onAdd()">Add New</button> -->
        <input type="text" [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="filter($event)" class="form-control">
    </div>
    
</div>
<div class="row">
    <div class="col-8">
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Sr</th>
                    <th (click)="onNameSort()">Name</th>
                    <th>User Name</th> 
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" class="form-control" [(ngModel)]="user.name">
                        </div>
                        <div  *ngIf="!user.isEdit">
                            {{user.name}}
                        </div>
                     
                    </td>
                    <td> 
                        <div *ngIf="user.isEdit">
                            <input type="text" class="form-control" [(ngModel)]="user.username">
                        </div>
                        <div  *ngIf="!user.isEdit">
                            {{user.username}}
                        </div>
                    </td>
                     
                    <td> 
                        <div *ngIf="user.isEdit">
                            <input type="text" class="form-control" [(ngModel)]="user.phone">
                        </div>
                        <div  *ngIf="!user.isEdit">
                            {{user.phone}}
                        </div>  
                    </td>
                    <td> {{user.website}}</td>
                    <td class="text-center"> 
                        <div *ngIf="!user.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(user)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(user)"></i>
                        </div>
                        <div *ngIf="user.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(user)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(user)"></i>
                        </div>
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>