<div class="row">
    <div class="col-12">
        <div class="mt-2 mb-2 p-4 bg-primary text-white rounded text-center">
            <h1>Inline Editing With validation</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Sr</th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td> {{user.name}} </td>
                    <td> {{user.username}}</td>
                    <td> {{user.phone}} </td>
                    <td> {{user.website}}</td>
                    <td class="text-center">
                        <div>
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(user)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(user)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>